.login-page {
  display: flex;
  align-items: center;
}

.login-page > div {
  width: 50%;
  height: 100vh;
}

.login-page .image {
  align-content: center;
  padding: 50px;
  background-color: white;
}

@media (max-width: 991px) {
  .login-page > div.image {
    display: none;
  }
}

.login-page .image img {
  max-width: 100%;
}
