.appointments-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  background: #7886c7;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.appointments-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
h2 {
  text-align: start;
  color: #222;
  font-size: 25px;
  margin: 20px 20px 20px 0px;
}

.appointments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 35%;
}
.status-select-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 16%;
}

.status-select-bar {
  background: #fff;
}

.appointments-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* @media (min-width: 600px) {
  .appointments-header {
    flex-direction: row;
  }
  .search-bar {
    width: 70%;
  }
  .status-select-bar {
    width: 30%;
  }
} */
